@{ 
    // In a real situation, you would get the tenant ID from your app and append it here
    //  or do something similar.. maybe a user ID instead if each user has their own folder...
    string rootFolder = "Tenant_1";
}

<style type="text/css">
    .modal-dialog {
        width: 80%;
    }
</style>

<div class="form-horizontal">
    <div class="form-group">
        <div class="input-group">
            <input type="text" id="fieldID" class="form-control" placeholder="">
            <span class="input-group-btn">
                <a data-toggle="modal" class="btn btn-primary" href="javascript:void(0);" data-target="#myModal">Select</a>
            </span>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Select</h4>
            </div>
            <div class="modal-body">
                <iframe src="/filemanager/dialog.php?type=1&relative_url=1&rootFolder=@rootFolder&fldr=&field_id=fieldID&ignore_last_position=1" frameborder="0" style="overflow:hidden;min-height:600px; height:100%;width:100%" height="100%" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>